body {
  font-family: "Raleway", sans-serif;
}
.mobile-menu {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
#menu-toggle:checked ~ .menu-overlay {
  opacity: 1;
  pointer-events: auto;
}
#menu-toggle:checked ~ .mobile-menu {
  transform: translateX(0);
}
.menu-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
